.alert {
   &.success {
      background-color: rgb(142, 235, 99);
   }

   &.error {
      background-color: rgb(241, 55, 55);
   }

   position: fixed;
   inset-block-start: 10px;
   inset-inline-start: 50%;
   transform: translateX(-50%);
   padding: 4px;
   border-radius: 8px;

   div {
      display: flex;
      gap: 8px;
      background-color: rgb(238, 238, 238);
      padding: 0.8rem;
      border-radius: 6px;
   }

   p {
      font-size: 1rem;

      &::first-letter {
         text-transform: capitalize;
      }
   }

   button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      line-height: 5px;
      border: 1px solid $darkest-gray;
      border-radius: 20rem;
   }
}