.app-header {
   padding-block: 8px;
   display: flex;
   justify-content: space-between;

   .logo-container {
      display: flex;
      gap: 8px;
      align-items: center;

      .logo {
         width: 30px;
      }

      span {
         font-family: gulzar, sans-serif;
         font-size: 1.4rem;
         font-weight: 600;
         color: $main-orange;
      }
   }

   nav {
      display: flex;
      gap: 12px;

      a {
         &:hover {
            color: lighten($darkest-gray, 30%);
         }
      }
   }

   .active {
      text-decoration: underline;
   }
}