*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  color: $darkest-gray;
  direction: ltr;
}

button {
  cursor: pointer;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: inherit;
  border: none;

  &:focus {
    outline: none;
  }
}


p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@include from-mobile-layout {
  ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: lighten($main-orange, 20%);
    border-radius: 100vw;
  }
}