#root {
    min-height: 100vh;
}

.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-layout {
    // max-height: 900px;
    // margin: auto;
    display: grid;
    grid-template-columns: 100px 1fr 100px;

    &>* {
        grid-column: 2;
    }
}