// Colors:
$main-orange: #f09738;

$lightest-gray: #EBEEF2;
$light-gray: #a9abb3;
$dark-gray: #55575c;
$darkest-gray: #303135;

// Breakpoints:
$mobile-breakpoint: 730px;
$narrow-breakpoint: 850px;
$normal-breakpoint: 1250px;
$wide-breakpoint: 1460px;


//Size:
// $header-height: 60px;
$mobile-navbar-height: 109px;